
.first-color {
    background: #f7aa00;
}

.second-color {
    background: #235784;
}

.third-color {
    background: #40a8c4;
}

.fourth-color {
    background: #bcdbdf;
}


body {
    margin: 0px;
    font-family: "Fira Code", monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #bcdbdf;
}

.app {
    overflow-x: scroll;
}

.wrapper {
    display: flex;
    flex-wrap: nowrap;
}

.box {
    flex: 0 0 100%;
    height: 200px;
    text-align: center;
}

.buttons {
    margin: 10px;
    margin-left: 5px;
}

button {
    width: 40px;
    height: 40px;
    margin: 5px;
}

.mode {
    margin-top: 10px;
    margin-bottom: 5px
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.centered-div {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    padding: 20px;
    border: 1px solid #ccc;
}


.ReactPiano__Key--active {
    background: #f7aa00;  /* Change the default active key color to bright red */
}

.ReactPiano__Key--active.ReactPiano__Key--accidental {
    background: #235784;  /* Change the default active accidental key color to black */
}

.ReactPiano__Key--accidental {
    background: #bcdbdf;  /* Change accidental keys to be completely black */
}

.ReactPiano__Key--accidental{
    background: grey;  /* Change accidental keys to be completely black */
}



button:hover {
    cursor: pointer;
}

.Progression {
    height: 400px;
}



