.ReactPiano__Key--active {
    background: orangered;  /* Change the default active key color to bright red */
}

.ReactPiano__Key--active.ReactPiano__Key--accidental {
    background: darkgreen;  /* Change the default active accidental key color to black */
}

.ReactPiano__Key--accidental {
    background: #000;  /* Change accidental keys to be completely black */
}